<?xml version="0.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tom_box" params="name">

    <xacro:property name="M_PI" value="3.14159"/>

    <link name="${name}">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://costar_simulation/urdf/box/box.dae" scale="1. 1. 1."/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.205 0.205 0.205"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
