<launch>

  <!-- setup for two optional cameras -->
  <arg name="camera_id" default="#1" /> <!-- Use device_id such as 1d27/0601@4/14 for multiple primesense--> 
  <arg name="depth_registration" default="true" />
  <arg name="camera_name" default="camera" />
  <arg name="start_alvar" default="true" />

  <!-- Launching ar tag program #1-->
  <group ns="$(arg camera_name)">
    <arg name="cam_image_topic2" value="/$(arg camera_name)/depth_registered/points" />
    <arg name="cam_info_topic2" value="/$(arg camera_name)/rgb/camera_info" /> 
    <arg name="output_frame2" value="/$(arg camera_name)_rgb_optical_frame" />
    <node name="ar_track_alvar_$(arg camera_name)"
      pkg="ar_track_alvar"
      type="individualMarkers"
      respawn="true"
      output="log"
      args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic2) $(arg cam_info_topic2) $(arg output_frame2)" />
  </group>

</launch>
