*.swp
*.swo
*.pyc
*~

# Python deployable
*.swl
*.swm
*.swn

# Neural nets and data
*.npz
*.h5f

# Careful with these -- we want them to be generated at runtime from the
# associated xacro file.
*.urdf

# Files from Bullet
0_VRDemoSettings.txt

*.tfrecord*
