<launch>
  <param name="red_xyz" default="0.5 0.8 0.4"/>
  <param name="blue_xyz" default="0.65 0.75 0.4"/>
  <param name="green_xyz" default="0.8 0.6 0.4"/>
  <param name="yellow_xyz" default="0.65 0.5 0.4"/>
  <param name="obs_xyz" default="0.7 0.7 0.5"/>
  <param name="red_rpy" default="0 0 0 "/>
  <param name="blue_rpy" default="0 0 0"/>
  <param name="green_rpy" default="0 0 0"/>
  <param name="yellow_rpy" default="0 0 0"/>

  <param name="red_block_description" file="$(find costar_simulation)/urdf/block/red.urdf"/>
  <param name="blue_block_description" file="$(find costar_simulation)/urdf/block/blue.urdf"/>
  <param name="green_block_description" file="$(find costar_simulation)/urdf/block/green.urdf"/>
  <param name="yellow_block_description" file="$(find costar_simulation)/urdf/block/yellow.urdf"/>
  <param name="obstacle_description" file="$(find costar_simulation)/urdf/block/obstacle.urdf"/>


  <node name="$(anon urdf_spawner)"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false" output="screen"
    args="-b -sdf -model red_block -param red_block_description"/>

  <node name="$(anon urdf_spawner)"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false" output="screen"
    args="-b -sdf -model blue_block -param blue_block_description"/>

  <node name="$(anon urdf_spawner)"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false" output="screen"
    args="-b -sdf -model green_block -param green_block_description"/>

  <node name="$(anon urdf_spawner)"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false" output="screen"
    args="-b -sdf -model yellow_block -param yellow_block_description"/>

  <node name="$(anon urdf_spawner)"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false" output="screen"
    args="-b -sdf -model obstacle -param obstacle_description"/>

</launch>
