<?xml version="1.0"?>
<launch>
  <arg name="limited" default="true"/>
  
  <param unless="$(arg limited)"
    name="robot_description"
    command="$(find xacro)/xacro.py '$(find ur5_robotiq_parallel_description)/Robot/ur5_robotiq_parallel.xacro'" />
  <param if="$(arg limited)"
    name="robot_description"
    command="$(find xacro)/xacro.py '$(find costar_simulation)/robot/ur5_joint_limited.xacro'" />

	
</launch>
