
# ROS, Planning, and TOM

The TOM examples require the [TOM Robot package]() to execute.

## Getting started

Run the TOM simulator and server. This takes in joint positions and will move the arm to those positions:

```
roslaunch costar_task_plan tom.launch
```

Then move into your data directory:
```
roscd costar_task_plan
cd data
rosrun costar_task_plan tom_test.py
```

We should see the robot move around in simulation.


